* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#todoTitle {
  text-align: center;
  margin: 20px;
}

.todo-container {
  padding: 30px;
  border: 1px solid gray;
  width: 800px;
  border-radius: 5px;
  margin: 20px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f44336;
  margin-bottom: 20px;
}

#title {
  padding: 20px;
  color: white;
}

#filter-todo {
  padding: 8px 10px;
  margin-bottom: 0;
  margin-right: 20px;
  border: 1px solid gray;
  width: 200px;
  outline: none;
  border-radius: 5px;
  background-color: rgb(250, 249, 249);
  color: grey;
}

::placeholder {
  font-size: 1rem;
  color: rgb(170, 168, 168);
}

#my-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  margin-bottom: 20px;
  outline: none;
}

button {
  cursor: pointer;
}

#todoInput {
  padding: 7px 10px;
  width: 75%;
}

#submit {
  padding: 8px 10px;
  background-color: rgb(63, 62, 62);
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  letter-spacing: 2px;
}

#submit:hover {
  background-color: #bbb;
}

.filter-option {
  padding: 8px 10px;
  background-color: rgb(63, 62, 62);
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  letter-spacing: 2px;
}

#todos {
  border: 1px solid gray;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.deleteBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.deleteBtn:hover {
  background-color: #f44336;
  color: white;
}
